*{
    box-sizing: border-box;
}
body{
    background: #f5f6f7;
}

header{
    padding: 1rem;
    color: rgb(27,73,152);
    background: #e6e6e6;   
   
    /* rgb(196, 239, 248); */
}

header h2{
    margin-bottom: 0;
}
.program-title{
    background: rgb(27,73,152);
    color: white;

    margin: 2% 0;
    padding: 2% 0;
}
/* SIDE BAR ---------------------------------------------------- */
.side-bar{
    /* background: rgb(253,185,19); */
    background: white;
    color: rgb(27,73,152);
    font-weight: bold;
}
.side-bar ul{
    padding:0.5rem 0;
}

.side-bar ul ul{
 padding: 0 0 0 0.5rem;
}
.side-bar img{
    width:70%;
}
.side-bar li{
    list-style: none;
    margin: 1%;
    padding: 0.3rem 0;
}

.side-bar li .activo{
    background:#79bde8;
}

.side-bar li li{
    /* border-right: 1px solid gray; */
    border-bottom: 1px solid #e6e6e6;
    /* background: #ffffca; */
    
}
.side-bar li li a{
    display: block;
}

.apply-now{
    background: rgb(253,185,19);
    color:rgb(27,73,152);
    
}

.side-bar-footer{
    
    border-top: 2px solid #adb5bd;
    padding: 1rem;
    margin: 2rem;
}

/* MAIN CONTENT -------------------------------------------------- */
.main-content{
    background: gray;
    min-height: 70vh;
    padding: 2rem;
}


footer{
    background:#e2e2e2;
}

#footer-links{
    list-style: none;
}
#footer-links a{
    color: #4e4e4e;
}
.contact-info{
    color:#4e4e4e;
}

hr{
   border-color: #91989f;
}

/* 
primary:
color:rgb(27,73,152); blue
color:rgb(253,185,19); yellow

secondary:
color:rgb(121,189,232); light blue
color:rgb(0,68,124); dark blue
color:rgb(237,242,242); light gray */


